
.chat-item {
	margin: 1em 0;
}

.chat-thumbnail {
	border-radius: 50%;
	width: 4em;
}

.chat-name {
	font-size: 80%;
	color: #aaa;
	margin-top: 0.5ex;
}

.chat-message-group {
	margin: 1em;

}

.chat-message {
	padding: 1ex;
	background: #eee;
	border-radius: 1em;
	/*min-width: 10em;*/
}

.chat-author-group {

}

.author-thumbnail {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.chat-control {
	padding: 1.5em 1.5em;
	border-top: 1px solid #aaa;
	background: #eee;
}

.chat-control .form-group {
	margin: 0;
}

.chat-stream {
	padding: 0 1.5em;
	max-height: 60vh;
	overflow-y: scroll;
}

.ais-SearchBox { margin-bottom: 1em }
.ais-InstantSearch { max-width: 960px; overflow: hidden; margin: 0 auto }
.ais-Hits-item { margin-bottom: 1em; width: calc(50% - 1rem) }
.ais-Hits-item img { margin-right: 1em }
.hit-name { margin-bottom: .5em }
.hit-description { color: #888; font-size: 14px; margin-bottom: .5em }
