<div>
  <input
    matInput
    [matAutocomplete]="auto"
    (keyup)="handleChange($event)"
    style="width: 100%; padding: 10px"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    style="margin-top: 30px; max-height: 600px"
  >
    <div *ngFor="let index of state.indices || []">
      <mat-option
        *ngFor="let option of index.hits"
        [value]="option.chatName"
        (click)="onQuerySuggestionClick.emit({ query: option.chatName })"
      >
        {{ option.chatName }}
      </mat-option>
    </div>
  </mat-autocomplete>
</div>
